<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>首页</ion-title>
    <ion-buttons end>
      <button ion-button icon-only><ion-icon name="calendar"></ion-icon></button>
      <button ion-button icon-only><ion-icon name="notifications"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div text-center>
    <img class="logo" src="assets/images/home/androidbanner.png" alt="">
  </div>
  <ion-grid [ngClass]="{'stable-bg':true}">
    <ion-row>
      <ion-col>
        <h6>今日</h6>
        <!--过滤器-->
        <h4><span>{{CompanyPrice.todayPriceNow | number:'1.2-2'}}元</span></h4>
        <p>比昨日:
          <span [ngClass]="{'less-equal':CompanyPrice.todayPriceNow-CompanyPrice.todayPriceLeft <= 0,
                            'greater':CompanyPrice.todayPriceNow-CompanyPrice.todayPriceLeft > 0}">
          {{CompanyPrice.todayPriceNow-CompanyPrice.todayPriceLeft| number:'1.2-2'}}</span>
          <ion-icon *ngIf="CompanyPrice.todayPriceNow-CompanyPrice.todayPriceLeft>0" name="arrow-round-up"></ion-icon>
          <ion-icon *ngIf="CompanyPrice.todayPriceNow-CompanyPrice.todayPriceLeft<0" name="arrow-round-down"></ion-icon>
          <ion-icon *ngIf="CompanyPrice.todayPriceNow-CompanyPrice.todayPriceLeft==0" name="arrow-round-forward"></ion-icon>
        </p>
      </ion-col>
      <ion-col>
        <h6>七日</h6>
        <h4>{{CompanyPrice.sevenDaysPriceNow| number:'1.2-2'}}<span>元</span></h4>
        <p>比同期:
          <span [ngClass]="{'less-equal':CompanyPrice.sevenDaysPriceNow-CompanyPrice.sevenDaysPriceLeft <= 0,
                            'greater':CompanyPrice.sevenDaysPriceNow-CompanyPrice.sevenDaysPriceLeft > 0}">
              {{CompanyPrice.sevenDaysPriceNow-CompanyPrice.sevenDaysPriceLeft| number:'1.2-2'}}
          </span>
          <ion-icon *ngIf="CompanyPrice.sevenDaysPriceNow-CompanyPrice.sevenDaysPriceLeft>0" name="arrow-round-up"></ion-icon>
          <ion-icon *ngIf="CompanyPrice.sevenDaysPriceNow-CompanyPrice.sevenDaysPriceLeft<0" name="arrow-round-down"></ion-icon>
          <ion-icon *ngIf="CompanyPrice.sevenDaysPriceNow-CompanyPrice.sevenDaysPriceLeft==0" name="arrow-round-forward"></ion-icon>
        </p>
      </ion-col>
      <ion-col>
        <h6>本月</h6>
        <h4>{{CompanyPrice.monthPriceNow| number:'1.2-2'}}<span>元</span></h4>
        <p>比同期:
          <span [ngClass]="{'less-equal':CompanyPrice.monthPriceNow-CompanyPrice.monthPriceLeft<= 0,
                            'greater': CompanyPrice.monthPriceNow-CompanyPrice.monthPriceLeft> 0}">
            {{ CompanyPrice.monthPriceNow-CompanyPrice.monthPriceLeft | number:'1.2-2' }}
          </span>
          <ion-icon *ngIf="CompanyPrice.monthPriceNow-CompanyPrice.monthPriceLeft>0" name="arrow-round-up"></ion-icon>
          <ion-icon *ngIf="CompanyPrice.monthPriceNow-CompanyPrice.monthPriceLeft<0" name="arrow-round-down"></ion-icon>
          <ion-icon *ngIf="CompanyPrice.monthPriceNow-CompanyPrice.monthPriceLeft==0" name="arrow-round-forward"></ion-icon>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--第一行-->
  <div>
    <ion-row class="quick-actions">
      <ion-col class="quick-action-item">
        <a class="shortcut" [navPush]="Pages.addCategory">
          <!--<ion-icon name="apps"></ion-icon>-->
          <img class="icon-size1" src="assets/images/home/add_salse.png" alt="">
          <div>新增商品</div>
        </a>
      </ion-col>
      <ion-col class="quick-action-item">
        <a class="shortcut" href="">
          <img class="icon-size1" src="assets/images/home/add_user.png" alt="">
          <div>新增会员</div>
        </a>
      </ion-col>
      <ion-col class="quick-action-item">
        <a class="shortcut" href="">
          <img class="icon-size1" src="assets/images/home/sales_account.png" alt="">
          <div>收银记账</div>
        </a>
      </ion-col>
      <ion-col class="quick-action-item">
        <a class="shortcut" href="">
          <img class="icon-size1" src="assets/images/home/a_note.png" alt="">
          <div>支出管理</div>
        </a>
      </ion-col>
    </ion-row>
  </div><!-- end 第一行-->
  <!--第二行-->
  <div>
    <ion-row class="quick-actions">
      <ion-col class="quick-action-item">
        <a class="shortcut" href="">
          <img class="icon-size1" src="assets/images/home/sales_management.png" alt="">
          <div>商品管理</div>
        </a>
      </ion-col>
      <ion-col class="quick-action-item">
        <a class="shortcut" href="">
          <img class="icon-size1" src="assets/images/home/user_management.png" alt="">
          <div>会员管理</div>
        </a>
      </ion-col>
      <ion-col class="quick-action-item">
        <a class="shortcut" href="">
          <img class="icon-size1" src="assets/images/home/shop_management.png" alt="">
          <div>查询销售</div>
        </a>
      </ion-col>
      <ion-col class="quick-action-item">
        <a class="shortcut" href="">
          <img class="icon-size1" src="assets/images/home/analysis.png" alt="">
          <div>智能分析</div>
        </a>
      </ion-col>
    </ion-row>
  </div><!-- end 第二行-->
  <!--第三行-->
  <div>
    <ion-row class="quick-actions">
      <ion-col class="quick-action-item">
        <a class="shortcut" href="">
          <img class="icon-size1" src="assets/images/home/gongying_more.png" alt="">
          <div>供应商管理</div>
        </a>
      </ion-col>
      <ion-col class="quick-action-item">
        <a class="shortcut" href="">
          <img class="icon-size1" src="assets/images/home/guandan_more.png" alt="">
          <div>挂单</div>
        </a>
      </ion-col>
      <ion-col class="quick-action-item">
        <a class="shortcut" href="">
          <img class="icon-size1" src="assets/images/home/image_addsales.png" alt="">
          <div>高级功能</div>
        </a>
      </ion-col>
      <ion-col class="quick-action-item">
        <a class="shortcut" href="">
          <!--<img class="icon-size1" src="assets/images/home/image_addsales.png" alt="">-->
          <!--<div>高级功能</div>-->
        </a>
      </ion-col>
    </ion-row>
  </div><!-- end 第三行-->

  <copy-right></copy-right>

</ion-content>
